.header{
    &__top--container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding-top: 12px;
        padding-bottom: 10px;
    }

    &__logo-link:hover{
        background-color: $main-white;
    }

    &__logo-image{
        width: 226px;
        height: 63px;
        display: block;
    }

    &__wrapper{
        max-width: 545px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }

    &__tel{
        display: flex;
        align-items: center;
        text-decoration: none;
        font-family: Montserrat;
        font-size: 25px;
        font-style: normal;
        font-weight: 500;
        line-height: 26px;
        letter-spacing: 0em;
        color: $main-black;

        &:hover{
            background-color: $main-white;
        }
        
        &::before{
            content: "";
            width:28px;
            height:28px;
            display: block;
            margin-right: 22px;
            background-image: url(../images/tel.png);
            background-repeat: no-repeat;
            background-size: auto;
            background-position: center;
        }
    }
    .socials{
        font-size: 0;
    
        &__item:first-child{
            margin-right: 26px;
        }
    
        &__lang{
            appearance: none;
            border: none;
            background-color: transparent;
            cursor: pointer;
            background-image: url(../images/rf.png),
             url(../images/arrow-down.png);
             background-position: left center, right center;
             background-repeat: no-repeat;
             background-size: 41px, 11px 6px;
        }
    }

    &__bottom--container{
        padding-top: 22px;
        padding-bottom: 22px;

        .navs{
            display: flex;
            align-items: center;
            justify-content: space-between;
            flex-wrap: wrap;
            gap: 10px;

            &__link{
                font-family: Montserrat;
                font-size: 16px;
                font-style: normal;
                font-weight: 500;
                line-height: 26px;
                letter-spacing: 0em;
                text-decoration: none;
                color: $main-black;
                
                &:hover{
                    color: $main-green;
                }
            }
        }
    }

    &__close--button{
        width: 30px;
        height: 30px;
        display: none;
        border: none;
        padding: 0;
        background-color: transparent;
        cursor: pointer;
    }

    &__hamburger{
        border: none;
        padding: 0;
        background-color: transparent;
        cursor: pointer;

        &:hover{
            background-color: $main-white;
        }
    }

    &__mobile{
        display: none;
    }
}

.curtain{
    display: none;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 100;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0.5),
    rgba(0,0,0,0.5) );
}

.line{
    height: 1px;
    width: 100%;
    background-color: $main-light-green;
}

// responsive

@media only screen and (max-width:1000px){
    .header{
        &__desktop{
            display: none;
        }

        &__mobile{
            display: block;
        }

        &__mobile--container{
            padding-top: 10px;
            padding-bottom: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__logo-images{
            width: 74px;
            height: 74px;
        }

        &__hamburger{
            margin-right: 174px;
            text-align: left;

            &--image{
                width: 49px;
                height: 29px;
            }
        }

        &__tel{
            font-size: 20px;
            line-height: 16px;

            &::before{
                margin-right: 19px;
            }
        }
    

    // menu
    &__desktop{
        background-color: $main-white;
        position: absolute;
        max-width: 370px;
        width: 100%;
        min-height: 796px;
        padding: 26px;
        z-index: 1000;
    }

    &__desktop--on{
        display: block;
        position: fixed;
    }

    &__top--container{
        padding: 0;
    }

    &__bottom--container{
        padding: 0;
    }

    &__wrapper{
        flex-direction: column;
        max-width: none;
        align-items: flex-start;
        margin-bottom: 50px;
    }

    &__tel-large{
        margin-bottom: 40px;
        font-size: 22px;
        line-height: 26px;

        &::before{
            width: 23px;
            height: 23px;
            background-size: cover;
            margin-right: 13px;
        }
    }

    &__close--button{
        display: block;
        position: absolute;
        top: 24px;
        right: 26px;
    }

    .navs{
        flex-direction: column;
        align-items: start;
        gap: 30px;

        &__link{
            font-size: 20px;
            line-height: 15px;
        }
    }

    &__socials{
        display: flex;
        position: absolute;
        bottom: 120px;
        left: 26px;

        a:first-child{
            margin-right: 30px;
        }
        }

    &__logo-link-large{
        display: none;
    }

    .curtain--on{
        display: block;
        position: fixed;

    }
}


    .line{
        display: none;
    }
}

@media only screen and (max-width:768px){
    .header{
        &__desktop{
            display: none;
        }

        &__mobile{
            display: block;
        }

        &__mobile--container{
            padding-top: 10px;
            padding-bottom: 10px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__logo-images{
            width: 71px;
            height: 71px;
        }

        &__hamburger{
            margin-right: 142px;
            text-align: left;

            &--image{
                width: 49px;
                height: 29px;
            }
        }

        &__tel{
            font-size: 19px;
            line-height: 26px;
            white-space: nowrap;

            &::before{
                margin-right: 18px;
                width: 23px;
                height: 23px;
                background-size:cover;
            }
        }

        // menu
    &__desktop{
        background-color: $main-white;
        position: absolute;
        max-width: 370px;
        width: 100%;
        min-height: 796px;
        padding: 26px;
        z-index: 1000;
    }

    &__desktop--on{
        display: block;
        position: fixed;

    }

    &__top--container{
        padding: 0;
    }

    &__bottom--container{
        padding: 0;
    }

    &__wrapper{
        flex-direction: column;
        max-width: none;
        align-items: flex-start;
        margin-bottom: 50px;
    }

    &__tel-large{
        margin-bottom: 40px;
        font-size: 22px;
        line-height: 26px;

        &::before{
            width: 23px;
            height: 23px;
            background-size: cover;
            margin-right: 13px;
        }
    }

    &__close--button{
        display: block;
        position: absolute;
        top: 24px;
        right: 26px;
    }

    .navs{
        flex-direction: column;
        align-items: start;
        gap: 30px;

        &__link{
            font-size: 20px;
            line-height: 15px;
        }
    }

    &__socials{
        display: flex;
        position: absolute;
        bottom: 120px;
        left: 26px;

        a:first-child{
            margin-right: 30px;
        }
        }

    &__logo-link-large{
        display: none;
    }

    .curtain--on{
        display: block;
        position: fixed;

    }

    }

    .line{
        display: none;
    }
}

@media only screen and (max-width:480px){
    .header{
        &__desktop{
            display: none;
        }

        &__top--container{
            padding-left: 23px;
            padding-right: 23px;
        }

        &__mobile{
            display: block;
        }

        &__mobile--container{
            padding-top: 7px;
            padding-bottom: 7px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__logo-images{
            width: 45px;
            height: 45px;
        }

        &__hamburger{
            margin-right: 88px;
            text-align: left;

            &--image{
                width: 29px;
                height: 18px;
            }
        }

        &__tel{
            font-size: 12px;
            line-height: 26px;

            &::before{
                margin-right: 9px;
                width: 14px;
                height: 14px;
                background-size:cover;
            }
        }

        // menu
    &__desktop{
        background-color: $main-white;
        position: absolute;
        max-width: 370px;
        width: 100%;
        min-height: 796px;
        padding: 26px;
        z-index: 1000;
    }

    &__desktop--on{
        display: block;
        position: fixed;

    }

    &__top--container{
        padding: 0;
    }

    &__bottom--container{
        padding: 0;
    }

    &__wrapper{
        flex-direction: column;
        max-width: none;
        align-items: flex-start;
        margin-bottom: 50px;
    }

    &__tel-large{
        margin-bottom: 40px;
        font-size: 22px;
        line-height: 26px;

        &::before{
            width: 23px;
            height: 23px;
            background-size: cover;
            margin-right: 13px;
        }
    }

    &__close--button{
        display: block;
        position: absolute;
        top: 24px;
        right: 26px;
    }

    .navs{
        flex-direction: column;
        align-items: start;
        gap: 30px;

        &__link{
            font-size: 20px;
            line-height: 15px;
        }
    }

    &__socials{
        display: flex;
        position: absolute;
        bottom: 120px;
        left: 26px;

        a:first-child{
            margin-right: 30px;
        }
        }

    &__logo-link-large{
        display: none;
    }

    .curtain--on{
        display: block;
        position: fixed;
    }
    }

   

    .line{
        display: none;
    }
}

@media only screen and (max-width:320px){
    .header{
        &__desktop{
            display: none;
        }

        &__top--container{
            padding-left: 11px;
            padding-right: 11px;
        }

        &__mobile{
            display: block;
        }

        &__mobile--container{
            padding-top: 9px;
            padding-bottom: 9px;
            display: flex;
            align-items: center;
            justify-content: space-between;
        }

        &__logo-images{
            width: 39px;
            height: 39px;
        }

        &__hamburger{
            text-align: left;

            &--image{
                width: 29px;
                height: 18px;
            }
        }

        &__tel{
            display: none;
        }

        // menu
    &__desktop{
        background-color: $main-white;
        position: absolute;
        max-width: 370px;
        width: 100%;
        min-height: 796px;
        padding: 26px;
        z-index: 1000;
    }

    &__desktop--on{
        display: block;
        position: fixed;

    }

    &__top--container{
        padding: 0;
    }

    &__bottom--container{
        padding: 0;
    }

    &__wrapper{
        flex-direction: column;
        max-width: none;
        align-items: flex-start;
        margin-bottom: 50px;
    }

    &__tel-large{
        margin-bottom: 40px;
        font-size: 22px;
        line-height: 26px;

        &::before{
            width: 23px;
            height: 23px;
            background-size: cover;
            margin-right: 13px;
        }
    }

    &__close--button{
        display: block;
        position: absolute;
        top: 24px;
        right: 26px;
    }

    .navs{
        flex-direction: column;
        align-items: start;
        gap: 30px;

        &__link{
            font-size: 20px;
            line-height: 15px;
        }
    }

    &__socials{
        display: flex;
        position: absolute;
        bottom: 120px;
        left: 26px;

        a:first-child{
            margin-right: 30px;
        }
        }

    &__logo-link-large{
        display: none;
    }

    .curtain--on{
        display: block;
        position: fixed;

    }
    }

    .line{
        display: none;
    }
}



