.section3 {
    padding-top: 175px;
    padding-bottom: 166px;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    &__hedding {
        font-family: Montserrat;
        font-size: 35px;
        font-style: normal;
        font-weight: 600;
        line-height: 28px;
        letter-spacing: 0em;
        text-align: center;
        color: $main-black;
        margin: 0;
        margin-bottom: 75px;
    }

    &__wrapper {
        max-width: 1200px;
        width: 100%;
        height: auto;
        // flex-wrap: wrap;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0;
    }

    &__item {
        // position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        background: #ffffff;
        box-shadow: 0px 10px 10px #f0f0f0;
        max-width: 380px;
        width: 100%;
        height: auto;
        max-height: 315px;

        &-hedding--1 {
            font-family: Montserrat;
            font-size: 25px;
            font-style: normal;
            font-weight: 600;
            line-height: 26px;
            letter-spacing: 0em;
            text-align: left;
            color: $main-black;
            margin: 0;
            margin-bottom: 33px;
        }

        &-hedding--2 {
            font-family: Montserrat;
            font-size: 25px;
            font-style: normal;
            font-weight: 600;
            line-height: 26px;
            letter-spacing: 0em;
            text-align: left;
            color: $main-black;
            margin: 0;
            margin-bottom: 33px;
        }

        &-hedding--3 {
            max-width: 220px;
            font-family: Montserrat;
            font-size: 25px;
            font-style: normal;
            font-weight: 600;
            line-height: 26px;
            letter-spacing: 0em;
            text-align: left;
            color: $main-black;
            margin: 0;
            margin-bottom: 14px;
        }

        &-text--1,
        &-text--2,
        &-text--3 {
            font-family: Montserrat;
            font-size: 20px;
            font-style: normal;
            font-weight: 400;
            line-height: 23px;
            letter-spacing: 0px;
            text-align: left;
            margin: 0 auto;
            z-index: 11;
        }

        &-text--1 {
            max-width: 335px;
            width: 100%;
            height: auto;
        }

        &-text--2 {
            max-width: 328px;
            width: 100%;
            height: auto;
        }

        &-text--3 {
            max-width: 329px;
            width: 100%;
            height: auto;
        }

        &-number {
            font-family: Raleway;
            font-size: 180px;
            font-style: normal;
            font-weight: 500;
            line-height: 36px;
            letter-spacing: 0em;
            text-align: left;
            color: rgba(85, 166, 48, 0.25);
            z-index: 10;
            max-width: 193px;
            height: auto;
            width: 100%;
        }

        &-number--1 {
            transform: translate(110px,-70px);
        }

        &-number--2 {
            transform: translate(110px,-185px);
            color: rgba(255, 255, 255, 0.3);
        }

        &-number--3 {
            transform: translate(110px,-50px);
        }
    }

    &__item--1 {
        padding-top: 40px;
        padding-bottom: 32px;

    }

    &__item--2 {
        padding-top: 40px;
        padding-bottom: 78px;
        background-color: $main-light-green;
        box-shadow: none;
    }

    &__item--3 {
        padding-top: 28px;
        padding-bottom: 83px;
    }
}

@media only screen and(max-width:1000px) {
    .section3 {
        padding-top: 140px;
        padding-bottom: 142px;

        &__container{
            padding-left: 16px;
            padding-right: 16px;
        }


        &__wrapper{
            flex-wrap: wrap;
        }

        &__hedding {
            font-size: 30px;
            line-height: 28px;
            margin-bottom: 50px;
        }

        &__item {
            max-width: 299px;
            width: 100%;
            height: auto;

            &-hedding--1,
            &-hedding--3,
            &-hedding--2 {
                max-width: 216px;
                width: 100%;
                font-size: 20px;
                line-height: 26px;
                margin-bottom: 13px;

            }

            &-text--1,
            &-text--2,
            &-text--3 {
                font-size: 15px;
                line-height: 17px;
            }

            &-text--1 {
                max-width: 275px;
                width: 100%;
                height: auto;
            }

            &-text--2 {
                max-width: 259px;
                width: 100%;
                height: auto;
            }

            &-text--3 {
                max-width: 274px;
                width: 100%;
                height: auto;
            }

            &-number{
                font-family: Montserrat;
            }

            &-number--1 {
                transform: translate(110px,-30px);
            }
    
            &-number--2 {
                transform: translate(60px,-120px);
                color: rgba(255, 255, 255, 0.3);
            }
    
            &-number--3 {
                transform: translate(60px,0px);
            }
        }

        &__item--1 {
            padding-top: 45px;
            padding-bottom: 48px;
        }

        &__item--2 {
            padding-top: 45px;
            padding-bottom: 82px;
     
        }

        &__item--3 {
            padding-top: 27px;
            padding-bottom: 74px;
          
        }
    }
}

@media only screen and(max-width:768px) {
    .section3 {
        padding-top: 100px;
        padding-bottom: 100px;

        &__hedding {
            font-size: 25px;
            line-height: 28px;
            margin-bottom: 50px;
        }

        &__wrapper {
            flex-direction: column;
            gap: 30px;
        }

        &__item--1{
            max-height: 142px;
        }

        &__item {
            max-width: 642px;
            height: auto;
            width: 100%;
            padding-bottom: 0;

            &-hedding--1,
            &-hedding--2,
            &-hedding--3 {
                font-size: 16px;
                line-height: 26px;
                margin-bottom: 9px;
            }

            &-hedding--3 {
                max-width: 243px;
            }

            &-text--1,
            &-text--2,
            &-text--3 {
                font-size: 15px;
                line-height: 17px;
            }

            &-text--1 {
                max-width: 421px;
            }

            &-text--2 {
                max-width: 411px;
            }

            &-text--3 {
                max-width: 398px;
            }

            &-number {
                font-family: Montserrat;
                font-size: 170px;
                font-style: normal;
                font-weight: 500;
                line-height: 36px;
                letter-spacing: 0em;
                text-align: left;
            }

            &-number--1 {
                transform: translate(-215px,-85px);
            }
    
            &-number--2 {
                transform: translate(-215px,-50px);
                color: rgba(255, 255, 255, 0.3);
            }
    
            &-number--3 {
                transform: translate(-215px,-55px);
            }
        }

        &__item--1 {
            padding-top: 14px;
            // padding-bottom: 13px;
            padding-left: 221px;
            padding-right: 0;
        }


        &__item--2 {
            padding-top: 14px;
            // padding-bottom: 46px;
            padding-left: 222px;
            padding-right: 9px;
            padding-bottom: 6px;
        }

        &__item--3 {
            padding-top: 17px;
            // padding-bottom: 39px;
            padding-left: 221px;
            padding-right: 23px;
            padding-bottom: 3px;
        }
    }
}

@media only screen and(max-width:480px) {
    .section3 {
        padding-top: 80px;
        padding-bottom: 80px;

        &__hedding {
            font-size: 20px;
            line-height: 28px;
            margin-bottom: 40px;
        }

        &__wrapper {
            flex-direction: column;
        }

        &__item {
            max-width: 355px;
            width: 100%;
            height: auto;
            max-height: none;

            &-hedding--1,
            &-hedding--2,
            &-hedding--3 {
                font-size: 15px;
                line-height: 26px;
                margin-bottom: 16px;
            }

            &-hedding--3 {
                max-width: 228px;
            }

            &-text--1,
            &-text--2,
            &-text--3 {
                font-size: 15px;
                line-height: 19px;
            }

            &-text--1 {
                max-width: 248px;
            }

            &-text--2 {
                max-width: 232px;
            }

            &-text--3 {
                max-width: 219px;
            }

            &-number {
                font-family: Montserrat;
                font-size: 144px;
                font-style: normal;
                font-weight: 500;
                line-height: 36px;
                letter-spacing: 0em;
                text-align: left;
            }

            &-number--1 {
                transform: translate(-100px,-100px);
            }
    
            &-number--2 {
                transform: translate(-100px,-70px);
                color: rgba(255, 255, 255, 0.3);
            }
    
            &-number--3 {
                transform: translate(-90px,-70px);
            }
        }

        &__item--1 {
            padding-top: 15px;
            padding-bottom: 14px;
            padding-left: 106px;
            padding-right: 1px;
        }

        &__item--2 {
            padding-top: 25px;
            padding-bottom: 43px;
            padding-left: 107px;
            padding-right: 16px;
        }

        &__item--3 {
            padding-top: 25px;
            padding-bottom: 42px;
            padding-left: 100px;
            padding-right: 20px;

            &:hover {
                background-color: $main-light-green;
            }

            &:hover .section3__item-number--3 {
                color: rgba(255, 255, 255, 0.3);
                right: 177px;
                top: 90px;
            }
        }
    }
}

@media only screen and(max-width:320px) {
    .section3 {
        padding-top: 80px;
        padding-bottom: 80px;

        &__hedding {
            font-size: 20px;
            line-height: 28px;
            margin-bottom: 40px;
        }

        &__wrapper {
            flex-direction: column;
        }

        &__item {
            max-width: 300px;
            width: 100%;
            height: auto;
            align-items: center;
            min-height: none;

            &-hedding--1,
            &-hedding--2,
            &-hedding--3 {
                font-size: 15px;
                line-height: 26px;
                margin-bottom: 16px;
            }

            &-hedding--3 {
                max-width: 232px;
            }

            &-text--1,
            &-text--2,
            &-text--3 {
                font-size: 15px;
                line-height: 19px;
            }

            &-number {
                font-family: Montserrat;
                font-size: 49px;
                font-style: normal;
                font-weight: 500;
                line-height: 36px;
                letter-spacing: 0em;
                text-align: left;
            }

            &-number--1 {
                transform: translate(60px,-170px);
            }
    
            &-number--2 {
                transform: translate(60px,-130px);
                color: rgba(255, 255, 255, 0.3);
            }
    
            &-number--3 {
                transform: translate(60px,-130px);
            }
        }

        &__item--1 {
            padding-top: 34px;
            padding-bottom: 31px;
            padding-left: 24px;
            padding-right: 0px;
        }

        &__item--2 {
            padding-top: 40px;
            padding-bottom: 41px;
            padding-left: 27px;
            padding-right: 27px;
        }

        &__item--3 {
            padding-top: 46px;
            padding-bottom: 43px;
            padding-left: 18px;
            padding-right: 9px;
        }
    }
}
